body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

#welcome {
    background-size: cover;
    background-position: center;
    opacity: .8;

    padding: 100px 0;
}

.welcome-text{
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#project, #about, #media, #table {
    margin-bottom: 50px;
}

.card {
    margin-bottom: 20px;
}

.thumbnail {
    width: 150px;
    height: auto;
    display: inline-block;
}

@media (max-width: 768px) {
    #welcome h1 {
        font-size: 2em;
    }

    #welcome h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }

    .card-body {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    #about .row > div {
        display: flex;
        align-items: center;
    }
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme .bg-light {
    background-color: #444 !important;
}

.dark-theme a {
    color: #ff0 !important;
}

.dark-theme .card {
    background-color: #555;
}

.dark-theme footer {
    background-color: #222;
}
